body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	.main-screen {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;

		div {
			width: 250px;
			input {
				width: 250px;
			}
		}
	}
}
